@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
  font-family: 'Lato', sans-serif;
}

$blue: rgb(0,165,229);
#root {
  width: 100%;
}

header {
  background-color: $blue;
  padding: 100px 0 100px;
}

main,
.wrpr {
  width: 800px;
  margin: 0 auto;
}

.round-img {
  border-radius: 100px;
  width: 200px;
  margin-bottom: 20px;
}

section h2,
section h4,
.block {
  text-align: center;
}
p {
  margin-bottom: 50px;
}

h1 {
  font-size: 28px;
  margin: 0 0 30px;
  span {
    font-size: 40px;
  }
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}

header {
  h1, h2 {
    text-align: center;
    color: white;
  }
  h1 span {
    text-transform: uppercase;
    display: block;
  }
}
